/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-family: 微軟正黑體 , PingFang TC;
    line-height: 20px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover; 
}

a{
    text-decoration: none!important;
    display: block;
}
input{
    outline: none;
}
h2{
    font-size: 32px;
    line-height: 48px;
}
h3 {
    font-size: 20px;
    line-height: 30px;
}
h4{
    font-size: 24px;
    line-height: 36px;
}
p{
    font-size: 16px;
    line-height: 24px;
    
}
.p16lh18{
    font-size: 16px;
    line-height: 18px;

}
h6{
    font-size: 16px;
    line-height: 22px;
}
h7{
    font-size: 40px;
    line-height: 60px;
}

.mr-36{
    margin-right: 36px;
}
.mb-4{
    margin-bottom: 4px;
}
.mr-15{
    margin-right: 15px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-28{
    margin-bottom: 28px;
}

.mb-30{
    margin-bottom: 30px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-52{
    margin-bottom: 52px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-80{
    margin-bottom: 80px;
}
.container{
    max-width: 1140px;
}

.p-40{
    padding: 40px 0px;
}
ul{
    margin-bottom: 0px;
}
.poa{
    position: absolute;
}
.por{
    position: relative;
}
.br-0{
    border-radius: 0;
}
.gray-3{
    color: #848484;
}
.pl-15{
    padding-left: 15px;
}
.width-100{
    width: 100%;
}